<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
  <title>Registration</title>
</head>
<body>
  <h1>Index Page</h1>

        <form action='/results' method='post'>
            Name: <input type='text' name='name'><br>
            Email: <input type='text' name='email'><br>
            <label for="location">Location</label>
              <select name="location">
                <option value="Dallas">Dallas</option>
                <option value="New York">New York</option>
                <option value="online">Online</option>
              </select><br>
            Comments: <textarea name="comments" rows="8" cols="24"></textarea>
            <input type='submit' value='submit'>
        </form>
</body>
</html>
